.footer{
   width: 100%;
    
text-align: center;
background-color: rgb(75, 75, 75);
color: white;

}

.certificado img{
    width: 300px;
    
}

.footer_flex{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.footer2{
    padding: 20px;
    background-color: rgb(82, 82, 82);
}
@media (max-width: 480px){
    .footer_flex{
        width: 100%;
    }
    .certificado img{
        width: 150px;
        
    }
    }